<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssfull.css" />

    <title>Document</title>
</head>

<body>
    <div class="menu-top">
        <a href="/show-infomation">Infomation</a>
        <a href="/create-user">Create User</a>
        <a href="#">Forget Password</a>
        <a href="#">Menu</a>
    </div>
    <div class="container">
        <div class="show-picture">
        </div>
    </div>
</body>

</html>