doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  style
             include ../css/cssfull.css
  title Document
.menu-top
  a(href='/information') Infomation
  a(href='/create-user') Create User
  a(href='#') Forget Password
  a(href='#') Menu
.container
  .show-picture
