<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="show-information">
        <table>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    User Name
                </td>
                <td>
                    Age
                </td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>

    <a href="first.html">Back to menu</a>
</body>

</html>