<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/table-css.css" />
    <title>Document</title>

</head>

<body>
    <table class="table-info">
        <tr>
            <th>Id</th>
            <th>User name</th>
            <th>Password</th>
        </tr>
    </table>

    <a href="first.html">Back to menu</a>

    <script language="javascript">
        user.forEach(users => {
            document.getElementById('show').innerHTML = '<li>' + users.id + '</li>'
        });
    </script>
</body>

</html>